* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p {
  font-family: Lato;
}

.main,
.form__container,
.counter,
.toggle,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: black;
  background: limegreen;
}
