* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  padding: 10px;
  width: 350px;
  border-radius: 10px;
}

h1,
p {
  font-family: Lato;
}

.counter,
.toggle,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: black;
  background: limegreen;
}

.button__container {
  display: flex;
  gap: 10px;
}

.form__container div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
